In [2]:
set1={"fdf","dfg","buhij"}
print(set1)

{'buhij', 'fdf', 'dfg'}

In [4]:
a=[[1,2],[2,5,6,7],[4,7,]]
res=[x for sublist in a for x in sublist]
print(res)

[1, 2, 2, 5, 6, 7, 4, 7]

In [11]:
a=[1,4,[3,4,6],[9,8]]
b=[]
for i in a:
    if isinstance(i,list):
        b.extend(i)
    else:
        b.append(i)
print(b)

[1, 4, 3, 4, 6, 9, 8]

In [16]:
s={"df",1,True}
print(s)
r={2,0,False}
print(r)
print(len(r))

{'df', 1}
{0, 2}
2

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [18]:
set1 = {"abc", 34, True, 40, "male"}
print(type(set1))

<class 'set'>

In [19]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [25]:
set1 = {"abc", 34, True, 40, "male"}
for i in set1:
    print(i)
print("abc" in set1)
print("abc" not in set1)

True
abc
34
40
male
True
False

In [27]:
s = {"abc", 34, True, 40, "male"}
s.add(90)
s.add("fwefw")
print(s)

{True, 'abc', 34, 'fwefw', 40, 90, 'male'}

In [1]:
s = {"abc", 34, True, 40, "male"}
r=[11,3,45]
s.update(r)
print(s)

{True, 34, 3, 'abc', 'male', 40, 11, 45}

In [30]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [32]:
t = {"apple", "banana", "cherry"}
t.remove("apple")
print(t)

{'cherry', 'banana'}

In [33]:
t = {"apple", "banana", "cherry"}
t.discard("apple")
print(t)

{'cherry', 'banana'}

In [2]:
t = {"apple", "banana", "cherry"}
r=t.pop()
print(r)

cherry

In [36]:
t = {"apple", "banana", "cherry"}
t.clear()
print(t)

set()

In [37]:
t = {"apple", "banana", "cherry"}
del t
print(t)

NameError: name 't' is not defined

In [39]:
thisset = {"apple", "banana", "cherry"}

#

print(thisset)

{'cherry', 'apple', 'banana'}

In [40]:
s1 = {"a", "b", "c"}
s2 = {1, 2, 3}
s3=s1.union (s2)
print(s3)

{1, 2, 'c', 3, 'b', 'a'}

In [41]:
s1 = {"a", "b", "c"}
s2 = {1, 2, 3}
s3=s1|s2
print(s3)

{1, 2, 'c', 3, 'b', 'a'}

In [43]:
s1 = {"a", "b", "c"}
s2 = {1, 2, 3}
s3={"fdsfd","EF",22,45}
se=s1.union(s2,s3)
print(se)

{1, 2, 'c', 3, 'a', 45, 'EF', 'b', 22, 'fdsfd'}

In [44]:
s1 = {"a", "b", "c"}
s2 = {1, 2, 3}
s3={"fdsfd","EF",22,45}
x=s1|s2|s3
print(x)

{1, 2, 'c', 3, 'a', 45, 'EF', 'b', 22, 'fdsfd'}

In [45]:
x = {"a", "b", "c"}  #set
y = (1, 2, 3)  #tuple
z=x.union(y)
print(z)

{1, 2, 'c', 3, 'a', 'b'}

In [46]:
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
x=s1.intersection(s2)
print(x)

{'apple'}

In [47]:
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
x=s1&s2
print(x)

{'apple'}

In [48]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [51]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google",1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [53]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2.difference(set1)

print(set3)

{'google', 'microsoft'}

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [56]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [57]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [58]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'google', 'banana', 'microsoft'}

In [59]:
s={1,2,3}
d={2,4,7}
x=s.symmetric_difference(d)
print(x)

{1, 3, 4, 7}

In [60]:
s={1,2,3}
d={2,4,7}
x=s^d
print(x)

{1, 3, 4, 7}

In [61]:
s={1,2,3}
d={2,4,7}
s.symmetric_difference_update(d)
print(s)

{1, 3, 4, 7}

In [62]:
x = frozenset({"cfe","er","fefr"})
print(x)
print(type(x))

frozenset({'cfe', 'fefr', 'er'})
<class 'frozenset'>

In [65]:
y=frozenset({1,2})
print(y)
print(type(y))

frozenset({1, 2})
<class 'frozenset'>