In [8]:
m = ("apple", "banana", "cherry")
print(m[0])
print(m[2])
print(m[1:3])

apple
cherry
('banana', 'cherry')

In [9]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [10]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [11]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple8 = ("abc", 34, True, 40, "male")

In [12]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [20]:
t = ("apple", "banana", "cherry",11,80,"hi")
print(t[3])
print(t[-1])
print(t[-3])
print(t[:4])
print(t[2:])
print(t[-4:-1])

11
hi
11
('apple', 'banana', 'cherry', 11)
('cherry', 11, 80, 'hi')
('cherry', 11, 80)

In [23]:
t=("cscs","csdv","dsvdw")
if "csv" in t:
    print("y")
else:
    print(False)

False

In [24]:
x = ("apple", "banana", "cherry") #immutable
y = list(x) # tuple-->list
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [26]:
x = ("apple", "banana", "cherry") 
y=list(x)
y.append("bjj")
print(tuple(y))

('apple', 'banana', 'cherry', 'bjj')

In [44]:
x = ("apple", "banana", "cherry")
y=("dfs",)
x+=y
print(x)
z=x+y
print(z)

('apple', 'banana', 'cherry', 'dfs')
('apple', 'banana', 'cherry', 'dfs', 'dfs')

In [31]:
x=("dss","dsd",10,40)
y=list(x)
y.remove(10)
print(tuple(y))
x=tuple(y)
print(x)

('dss', 'dsd', 40)
('dss', 'dsd', 40)

In [34]:
x = ("dss","dsd",10,40)
del x

In [35]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [37]:
x=("s","d","r")
(hh,ii,oo)=x
print(ii)

d

In [38]:
x=("s","d","r")
(hh,ii,*oo)=x
print(oo)

['r']

In [39]:
x=("s","d","r")
(hh,*ii,oo)=x
print(oo)
print(ii)

r
['d']

In [40]:
x=("s","d","r")
for i in x:
    print(i)

s
d
r

In [41]:
x=("s","d","r")
for i in range(len(x)):
    print(x[i])

s
d
r

In [42]:
x=("s","ddew","fwf")
i=0
while i < len(x):
    print(x[i])
    i=i+1

s
ddew
fwf

In [43]:
# JOIN TWO TUPLES
t1=("s","ddew","fwf")
t2=(1,2,3)
t3=t1+t2
print(t3)

('s', 'ddew', 'fwf', 1, 2, 3)

In [48]:
t1=(10,2,3,4,2)
z=t1*2
print(z)

(10, 2, 3, 4, 2, 10, 2, 3, 4, 2)

In [ ]:
#count()
#index()